.main-header {
  font-weight: 100;
  color: #FFFFFF;
  padding-top: 100px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  background-color: #e3824d;
  background-color: #09000f;
  background-color: #09000f;
  background-color: #fa5b05;
  background-color: #fa5b05;
  background-color: #ffa70f;
background-image: url("https://www.transparenttextures.com/patterns/fake-brick.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



/* overwrite default behavior of <h2> from bold to normal */
#username-text {
  font-weight: normal;
} 
