nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  /* background-color: #4056A1; */
  color: #FFFFFF;
  padding: 0 1.5em;
  z-index: 999;
  background: rgba(255, 255, 255, 0);
}

nav span {
  font-family: 'Bungee', sans-serif;
}

#logo {
  font-size: 36px;
}

#arrow-down-btn{
  background-color: transparent;
  padding: unset;
  border: none;
  position: absolute;
  animation: bounce 1.5s infinite;  
}

/* Bounce animation on hover */
@keyframes bounce {
  from {top: 60px;}
  to {top: 75px;}
}

/* Text in the navbar */
#down-arrow-text {
  font-family: 'Source Sans Pro', sans-serif;
}

/* to place arrow underneath navbar text */
.nav-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-text i {
  color: rgb(226, 65, 60);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  
  nav {
    background-color: #4056A1;
    position: relative;
  }

  main {
    margin-top: 0em;
    margin-right: 2em;
  }

  .header-main-container .main-header{
    height: 33%;
    width: 60vw;
  }

  .header-main-container{
    margin-left: 2em;
    margin-top: 4em;
    display: flex;
    column-gap: 100px;
    justify-content: space-around;
  }  
} 







