nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  z-index: 999;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

/* Text in the navbar */
#down-arrow-text {
  font-family: 'Source Sans Pro', sans-serif;
}

/* to place arrow underneath navbar text */
.nav-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-text i {
  color: rgb(226, 65, 60);
}

header {
  padding-top: 100px;
}





