 #new-tweet{
   margin-top: 3em;
 }

#error-message {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#error-icon {
  color: black;
}

 label{
   color: rgb(73, 73, 73);
   font-weight:normal;
 }
 form {
   display: flex;
   flex-direction: column;
   font-weight: bold;
 }

 textarea {
   border: none;
   background-color: inherit;
   color: inherit;
   border-bottom: 4px solid rgb(73, 73, 73);
   padding-bottom: .5em;
   outline: none;
   resize: none;
   font-size: 18px;
   font-weight:700;

 }

#tweet-btn { 
  color: rgb(73, 73, 73);
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}


  

 
 